# ====================
# REQUIRED VARIABLES
# ====================

# Matching Engine Port (REQUIRED)
# The gRPC port on which the matching engine server will listen
# Default was 50051
ENGINE_PORT=50051
