SPORTRADAR_API_KEY=your-sportradar-api-key

RATE_LIMIT_DELAY_MS=2000

# AWS
PG_HOST=your-database-host
PG_PORT=5432
PG_DATABASE=your-database-name
PG_USER=your-database-user
PG_PASSWORD=your-database-password
PG_KEY_PATH=/path/to/ssl/certificate.pem

###################################
# For Goose migrations
###################################
GOOSE_DRIVER=postgres
GOOSE_DBSTRING="postgres://$PG_USER:$PG_PASSWORD@$PG_HOST:$PG_PORT/$PG_DATABASE?sslmode=require&sslrootcert=$PG_KEY_PATH"
GOOSE_MIGRATION_DIR=./migrations/scripts

###################################
# For update_reference_data
###################################
NFL_SEASON_YEAR=2025
NFL_SEASON_TYPE=REG
NFL_WEEK=1

NBA_SEASON_YEAR=2025
NBA_SEASON_TYPE=REG

###################################
# For update_play_by_play_stats
###################################
# NFL_GAME_ID for play-by-play is the Sportradar vendor UUID
NFL_GAME_ID=your-nfl-game-vendor-uuid

###################################
# For update_box_score_data
###################################
# NFL_GAME_ID for box scores is the database integer ID (not vendor UUID)
# You can find this by querying: SELECT id FROM games WHERE vendor_id = 'your-vendor-uuid'
# Example: NFL_GAME_ID=123
