SPORTRADAR_API_KEY=your-sportradar-api-key
SPORTRADAR_ACCESS_LEVEL=trial

# AWS
PG_HOST=your-database-host
PG_PORT=5432
PG_DATABASE=your-database-name
PG_USER=your-database-user
PG_PASSWORD=your-database-password
PG_KEY_PATH=/path/to/ssl/certificate.pem

###################################
# For Goose migrations
###################################
GOOSE_DRIVER=postgres
GOOSE_DBSTRING="postgres://$PG_USER:$PG_PASSWORD@$PG_HOST:$PG_PORT/$PG_DATABASE?sslmode=require&sslrootcert=$PG_KEY_PATH"
GOOSE_MIGRATION_DIR=./migrations/scripts

###################################
# For update_reference_data
###################################
NFL_SEASON_START_YEAR=2025
NFL_SEASON_TYPE=REG
NFL_WEEK=1

NBA_SEASON_START_YEAR=2025
NBA_SEASON_TYPE=REG

###################################
# For Sportradar API scripts
# Used by: update_reference_data, update_*_play_by_play_stats,
#          update_batch_play_by_play_and_box_scores
###################################
SPORTRADAR_RATE_LIMIT_DELAY_MS=2000

###################################
# For update_*_play_by_play_stats AND update_*_box_score_data
# (single game processing)
###################################
# NFL_GAME_ID is the database integer ID (not vendor UUID)
# Used by: update_nfl_play_by_play_stats.sh, update_nfl_box_score_data.sh, compare_nfl_box_score_data.sh
NFL_GAME_ID=123

# NBA_GAME_ID is the database integer ID (not vendor UUID)
# Used by: update_nba_play_by_play_stats.sh, update_nba_box_score_data.sh, compare_nba_box_score_data.sh
NBA_GAME_ID=456

###################################
# For update_batch_play_by_play_and_box_scores
# (batch processing by date range)
###################################
# At least one complete date range (NFL or NBA) must be set
# Date format: YYYY-MM-DD
NFL_GAME_DATE_START_INCLUSIVE=2025-01-01
NFL_GAME_DATE_END_INCLUSIVE=2025-01-07
NBA_GAME_DATE_START_INCLUSIVE=2025-01-01
NBA_GAME_DATE_END_INCLUSIVE=2025-01-07
